--
-- PostgreSQL database dump
--

\restrict ew4naeDlc7dYIZk62cwkHr2wRCvpxJT1LQxBIbwcWXzFdHU7pcXuLWNH2sdvnva

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: market_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO market_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: market_user
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AuditEntityType; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."AuditEntityType" AS ENUM (
    'SALE',
    'SHIFT',
    'COUPON',
    'PROMOTION',
    'STORE',
    'CUSTOMER',
    'RECEIVABLE',
    'USER',
    'PRODUCT',
    'RESTORE',
    'SYSTEM',
    'SUBSCRIPTION',
    'PAYMENT',
    'CATALOG',
    'SUNAT'
);


ALTER TYPE public."AuditEntityType" OWNER TO market_user;

--
-- Name: AuditSeverity; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."AuditSeverity" AS ENUM (
    'INFO',
    'WARN',
    'ERROR'
);


ALTER TYPE public."AuditSeverity" OWNER TO market_user;

--
-- Name: BusinessProfile; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."BusinessProfile" AS ENUM (
    'BODEGA',
    'FERRETERIA',
    'TALLER',
    'LAVANDERIA',
    'POLLERIA',
    'HOSTAL',
    'BOTICA',
    'ACCESORIOS'
);


ALTER TYPE public."BusinessProfile" OWNER TO market_user;

--
-- Name: CouponType; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."CouponType" AS ENUM (
    'PERCENT',
    'AMOUNT'
);


ALTER TYPE public."CouponType" OWNER TO market_user;

--
-- Name: CustomerDocType; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."CustomerDocType" AS ENUM (
    'DNI',
    'RUC',
    'CE',
    'PASSPORT',
    'OTHER'
);


ALTER TYPE public."CustomerDocType" OWNER TO market_user;

--
-- Name: DiscountType; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."DiscountType" AS ENUM (
    'PERCENT',
    'AMOUNT'
);


ALTER TYPE public."DiscountType" OWNER TO market_user;

--
-- Name: FeatureFlagKey; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."FeatureFlagKey" AS ENUM (
    'ALLOW_FIADO',
    'ALLOW_COUPONS',
    'ENABLE_PROMOTIONS',
    'ENABLE_VOLUME_PROMOS',
    'ENABLE_NTH_PROMOS',
    'ENABLE_CATEGORY_PROMOS',
    'ENABLE_SUNAT',
    'ENABLE_ADVANCED_UNITS',
    'ENABLE_CONVERSIONS',
    'ENABLE_SERVICES',
    'ENABLE_WORK_ORDERS',
    'ENABLE_RESERVATIONS',
    'ENABLE_BATCH_EXPIRY',
    'ENABLE_SELLUNIT_PRICING'
);


ALTER TYPE public."FeatureFlagKey" OWNER TO market_user;

--
-- Name: MovementType; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."MovementType" AS ENUM (
    'SALE',
    'PURCHASE',
    'ADJUSTMENT'
);


ALTER TYPE public."MovementType" OWNER TO market_user;

--
-- Name: NthPromoType; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."NthPromoType" AS ENUM (
    'NTH_PERCENT'
);


ALTER TYPE public."NthPromoType" OWNER TO market_user;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'YAPE',
    'PLIN',
    'CARD',
    'FIADO'
);


ALTER TYPE public."PaymentMethod" OWNER TO market_user;

--
-- Name: PlanCode; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."PlanCode" AS ENUM (
    'DEMO',
    'STARTER',
    'PRO',
    'BUSINESS'
);


ALTER TYPE public."PlanCode" OWNER TO market_user;

--
-- Name: PricingMode; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."PricingMode" AS ENUM (
    'BASE_UNIT',
    'SELL_UNIT_OVERRIDE'
);


ALTER TYPE public."PricingMode" OWNER TO market_user;

--
-- Name: PromotionType; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."PromotionType" AS ENUM (
    'TWO_FOR_ONE',
    'PACK_PRICE',
    'HAPPY_HOUR'
);


ALTER TYPE public."PromotionType" OWNER TO market_user;

--
-- Name: ReceivableStatus; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."ReceivableStatus" AS ENUM (
    'OPEN',
    'PAID',
    'CANCELLED'
);


ALTER TYPE public."ReceivableStatus" OWNER TO market_user;

--
-- Name: RoundingMode; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."RoundingMode" AS ENUM (
    'NONE',
    'ROUND',
    'CEIL',
    'FLOOR'
);


ALTER TYPE public."RoundingMode" OWNER TO market_user;

--
-- Name: StoreStatus; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."StoreStatus" AS ENUM (
    'ACTIVE',
    'ARCHIVED'
);


ALTER TYPE public."StoreStatus" OWNER TO market_user;

--
-- Name: SubscriptionStatus; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."SubscriptionStatus" AS ENUM (
    'TRIAL',
    'ACTIVE',
    'PAST_DUE',
    'SUSPENDED',
    'CANCELLED'
);


ALTER TYPE public."SubscriptionStatus" OWNER TO market_user;

--
-- Name: SunatDocType; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."SunatDocType" AS ENUM (
    'FACTURA',
    'BOLETA',
    'NOTA_CREDITO',
    'NOTA_DEBITO',
    'SUMMARY',
    'VOIDED'
);


ALTER TYPE public."SunatDocType" OWNER TO market_user;

--
-- Name: SunatEnv; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."SunatEnv" AS ENUM (
    'BETA',
    'PROD'
);


ALTER TYPE public."SunatEnv" OWNER TO market_user;

--
-- Name: SunatStatus; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."SunatStatus" AS ENUM (
    'DRAFT',
    'PENDING',
    'XML_BUILT',
    'SIGNED',
    'SENT',
    'ACCEPTED',
    'REJECTED',
    'OBSERVED',
    'ERROR',
    'CANCELED'
);


ALTER TYPE public."SunatStatus" OWNER TO market_user;

--
-- Name: UnitKind; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."UnitKind" AS ENUM (
    'GOODS',
    'SERVICES'
);


ALTER TYPE public."UnitKind" OWNER TO market_user;

--
-- Name: UnitType; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."UnitType" AS ENUM (
    'UNIT',
    'KG'
);


ALTER TYPE public."UnitType" OWNER TO market_user;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."UserRole" AS ENUM (
    'OWNER',
    'CASHIER'
);


ALTER TYPE public."UserRole" OWNER TO market_user;

--
-- Name: VolumePromoType; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."VolumePromoType" AS ENUM (
    'FIXED_PRICE'
);


ALTER TYPE public."VolumePromoType" OWNER TO market_user;

--
-- Name: WorkOrderItemType; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."WorkOrderItemType" AS ENUM (
    'PRODUCT',
    'SERVICE'
);


ALTER TYPE public."WorkOrderItemType" OWNER TO market_user;

--
-- Name: WorkOrderStatus; Type: TYPE; Schema: public; Owner: market_user
--

CREATE TYPE public."WorkOrderStatus" AS ENUM (
    'DRAFT',
    'APPROVED',
    'IN_PROGRESS',
    'READY',
    'CLOSED',
    'CANCELLED'
);


ALTER TYPE public."WorkOrderStatus" OWNER TO market_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    store_id text,
    user_id text,
    action text NOT NULL,
    entity_type public."AuditEntityType" NOT NULL,
    entity_id text,
    severity public."AuditSeverity" DEFAULT 'INFO'::public."AuditSeverity" NOT NULL,
    meta jsonb,
    ip text,
    user_agent text
);


ALTER TABLE public.audit_logs OWNER TO market_user;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.categories (
    id text NOT NULL,
    store_id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    parent_id text,
    color text,
    icon text,
    sort_order integer DEFAULT 0 NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.categories OWNER TO market_user;

--
-- Name: category_promotions; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.category_promotions (
    id text NOT NULL,
    store_id text NOT NULL,
    name text NOT NULL,
    category text NOT NULL,
    type public."DiscountType" NOT NULL,
    value numeric(10,2) NOT NULL,
    starts_at timestamp(3) without time zone,
    ends_at timestamp(3) without time zone,
    active boolean DEFAULT true NOT NULL,
    is_demo boolean DEFAULT false NOT NULL,
    max_discount_per_item numeric(10,2),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.category_promotions OWNER TO market_user;

--
-- Name: coupons; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.coupons (
    id text NOT NULL,
    store_id text NOT NULL,
    code text NOT NULL,
    type public."CouponType" NOT NULL,
    value numeric(10,2) NOT NULL,
    min_total numeric(10,2),
    starts_at timestamp(3) without time zone,
    ends_at timestamp(3) without time zone,
    max_uses integer,
    uses_count integer DEFAULT 0 NOT NULL,
    active boolean DEFAULT true NOT NULL,
    is_demo boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.coupons OWNER TO market_user;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.customers (
    id text NOT NULL,
    store_id text NOT NULL,
    name text NOT NULL,
    phone text,
    dni text,
    notes text,
    active boolean DEFAULT true NOT NULL,
    is_demo boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.customers OWNER TO market_user;

--
-- Name: electronic_documents; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.electronic_documents (
    id text NOT NULL,
    store_id text NOT NULL,
    sale_id text,
    doc_type public."SunatDocType" NOT NULL,
    series text NOT NULL,
    number integer NOT NULL,
    full_number text NOT NULL,
    issue_date timestamp(3) without time zone NOT NULL,
    currency text DEFAULT 'PEN'::text NOT NULL,
    customer_doc_type public."CustomerDocType" NOT NULL,
    customer_doc_number text NOT NULL,
    customer_name text NOT NULL,
    customer_address text,
    taxable numeric(10,2) NOT NULL,
    igv numeric(10,2) NOT NULL,
    total numeric(10,2) NOT NULL,
    status public."SunatStatus" DEFAULT 'DRAFT'::public."SunatStatus" NOT NULL,
    hash text,
    qr_text text,
    xml_signed text,
    cdr_zip text,
    sunat_ticket text,
    sunat_code text,
    sunat_message text,
    sunat_response_at timestamp(3) without time zone,
    reported_in_summary boolean DEFAULT false NOT NULL,
    reference_doc_id text,
    void_reason text,
    zip_sent_base64 text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.electronic_documents OWNER TO market_user;

--
-- Name: feature_flags; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.feature_flags (
    id text NOT NULL,
    store_id text NOT NULL,
    key public."FeatureFlagKey" NOT NULL,
    enabled boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.feature_flags OWNER TO market_user;

--
-- Name: movements; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.movements (
    id text NOT NULL,
    store_id text NOT NULL,
    store_product_id text NOT NULL,
    type public."MovementType" NOT NULL,
    quantity numeric(10,3) NOT NULL,
    unit_price numeric(10,2),
    total numeric(10,2),
    notes text,
    created_by text,
    is_demo boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.movements OWNER TO market_user;

--
-- Name: nth_promotions; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.nth_promotions (
    id text NOT NULL,
    store_id text NOT NULL,
    name text NOT NULL,
    product_id text NOT NULL,
    type public."NthPromoType" NOT NULL,
    nth_qty integer NOT NULL,
    percent_off numeric(5,2) NOT NULL,
    starts_at timestamp(3) without time zone,
    ends_at timestamp(3) without time zone,
    active boolean DEFAULT true NOT NULL,
    is_demo boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.nth_promotions OWNER TO market_user;

--
-- Name: operational_limits; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.operational_limits (
    id text NOT NULL,
    store_id text NOT NULL,
    max_discount_percent numeric(5,2),
    max_manual_discount_amount numeric(10,2),
    max_sale_total numeric(10,2),
    max_items_per_sale integer,
    max_receivable_balance numeric(10,2),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.operational_limits OWNER TO market_user;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.payments (
    id text NOT NULL,
    store_id text NOT NULL,
    subscription_id text NOT NULL,
    amount numeric(10,2) NOT NULL,
    currency text DEFAULT 'PEN'::text NOT NULL,
    paid_at timestamp(3) without time zone NOT NULL,
    method text NOT NULL,
    reference text,
    status text DEFAULT 'CONFIRMED'::text NOT NULL,
    created_by_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.payments OWNER TO market_user;

--
-- Name: products_master; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.products_master (
    id text NOT NULL,
    barcode text,
    internal_sku text NOT NULL,
    name text NOT NULL,
    brand text,
    content text,
    category text DEFAULT 'Otros'::text NOT NULL,
    unit_type public."UnitType" NOT NULL,
    image_url text,
    is_quick_sell boolean DEFAULT false NOT NULL,
    quick_sell_order integer,
    is_global boolean DEFAULT false NOT NULL,
    created_by_store_id text,
    approved_at timestamp(3) without time zone,
    approved_by_id text,
    normalized_name text,
    fingerprint text,
    merged_into_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    base_unit_id text
);


ALTER TABLE public.products_master OWNER TO market_user;

--
-- Name: promotions; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.promotions (
    id text NOT NULL,
    store_id text NOT NULL,
    type public."PromotionType" NOT NULL,
    name text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    product_id text,
    min_qty integer,
    pack_price numeric(10,2),
    happy_start timestamp(3) without time zone,
    happy_end timestamp(3) without time zone,
    happy_price numeric(10,2),
    starts_at timestamp(3) without time zone,
    ends_at timestamp(3) without time zone,
    is_demo boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.promotions OWNER TO market_user;

--
-- Name: receivable_payments; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.receivable_payments (
    id text NOT NULL,
    store_id text NOT NULL,
    receivable_id text NOT NULL,
    shift_id text NOT NULL,
    amount numeric(10,2) NOT NULL,
    method public."PaymentMethod" NOT NULL,
    notes text,
    created_by text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.receivable_payments OWNER TO market_user;

--
-- Name: receivables; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.receivables (
    id text NOT NULL,
    store_id text NOT NULL,
    customer_id text NOT NULL,
    sale_id text NOT NULL,
    original_amount numeric(10,2) NOT NULL,
    balance numeric(10,2) NOT NULL,
    status public."ReceivableStatus" DEFAULT 'OPEN'::public."ReceivableStatus" NOT NULL,
    created_by text NOT NULL,
    is_demo boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.receivables OWNER TO market_user;

--
-- Name: sale_items; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.sale_items (
    id text NOT NULL,
    sale_id text NOT NULL,
    store_product_id text,
    product_name text NOT NULL,
    product_content text,
    unit_type public."UnitType" NOT NULL,
    quantity numeric(10,3) NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    discount_type public."DiscountType",
    discount_value numeric(10,2),
    discount_amount numeric(10,2) DEFAULT 0 NOT NULL,
    total_line numeric(10,2) DEFAULT 0 NOT NULL,
    promotion_type public."PromotionType",
    promotion_name text,
    promotion_discount numeric(10,2) DEFAULT 0 NOT NULL,
    category_promo_name text,
    category_promo_type public."DiscountType",
    category_promo_discount numeric(10,2) DEFAULT 0 NOT NULL,
    volume_promo_name text,
    volume_promo_qty integer,
    volume_promo_discount numeric(10,2) DEFAULT 0 NOT NULL,
    nth_promo_name text,
    nth_promo_qty integer,
    nth_promo_percent numeric(5,2),
    nth_promo_discount numeric(10,2) DEFAULT 0 NOT NULL,
    base_unit_qty numeric(10,3),
    conversion_factor numeric(10,4),
    is_service boolean DEFAULT false NOT NULL,
    pricing_mode text,
    quantity_original numeric(10,3),
    sell_unit_label text,
    sell_unit_price_applied numeric(10,2),
    service_id text,
    unit_sunat_code text,
    unit_symbol text
);


ALTER TABLE public.sale_items OWNER TO market_user;

--
-- Name: sales; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.sales (
    id text NOT NULL,
    store_id text NOT NULL,
    user_id text NOT NULL,
    shift_id text,
    customer_id text,
    sale_number integer NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    tax numeric(10,2) NOT NULL,
    total numeric(10,2) NOT NULL,
    discount_total numeric(10,2) DEFAULT 0 NOT NULL,
    total_before_discount numeric(10,2) DEFAULT 0 NOT NULL,
    coupon_code text,
    coupon_type public."CouponType",
    coupon_value numeric(10,2),
    coupon_discount numeric(10,2) DEFAULT 0 NOT NULL,
    total_before_coupon numeric(10,2) DEFAULT 0 NOT NULL,
    payment_method public."PaymentMethod" NOT NULL,
    amount_paid numeric(10,2),
    change_amount numeric(10,2),
    printed_at timestamp(3) without time zone,
    is_demo boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.sales OWNER TO market_user;

--
-- Name: sell_unit_prices; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.sell_unit_prices (
    id text NOT NULL,
    store_id text NOT NULL,
    product_master_id text NOT NULL,
    sell_unit_id text NOT NULL,
    price numeric(10,2) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.sell_unit_prices OWNER TO market_user;

--
-- Name: services; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.services (
    id text NOT NULL,
    store_id text NOT NULL,
    base_unit_id text,
    name text NOT NULL,
    price numeric(10,2) NOT NULL,
    taxable boolean DEFAULT true NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.services OWNER TO market_user;

--
-- Name: shifts; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.shifts (
    id text NOT NULL,
    store_id text NOT NULL,
    opened_by text NOT NULL,
    closed_by text,
    opened_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    closed_at timestamp(3) without time zone,
    opening_cash numeric(10,2) NOT NULL,
    closing_cash numeric(10,2),
    expected_cash numeric(10,2),
    difference numeric(10,2),
    notes text,
    is_demo boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.shifts OWNER TO market_user;

--
-- Name: store_products; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.store_products (
    id text NOT NULL,
    store_id text NOT NULL,
    product_id text NOT NULL,
    price numeric(10,2) NOT NULL,
    stock numeric(10,3),
    min_stock numeric(10,3),
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.store_products OWNER TO market_user;

--
-- Name: store_settings; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.store_settings (
    id text NOT NULL,
    store_id text NOT NULL,
    ticket_footer text,
    ticket_header_line1 character varying(100),
    ticket_header_line2 character varying(100),
    tax_rate numeric(5,2) DEFAULT 0 NOT NULL,
    onboarding_completed_at timestamp(3) without time zone,
    onboarding_step integer DEFAULT 0 NOT NULL,
    onboarding_dismissed_at timestamp(3) without time zone,
    default_payment_method public."PaymentMethod" DEFAULT 'CASH'::public."PaymentMethod" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.store_settings OWNER TO market_user;

--
-- Name: stores; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.stores (
    id text NOT NULL,
    name text NOT NULL,
    ruc text,
    address text,
    phone text,
    status public."StoreStatus" DEFAULT 'ACTIVE'::public."StoreStatus" NOT NULL,
    is_demo_store boolean DEFAULT false NOT NULL,
    archived_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    business_profile public."BusinessProfile" DEFAULT 'BODEGA'::public."BusinessProfile" NOT NULL
);


ALTER TABLE public.stores OWNER TO market_user;

--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.subscriptions (
    id text NOT NULL,
    store_id text NOT NULL,
    plan_code public."PlanCode" NOT NULL,
    status public."SubscriptionStatus" DEFAULT 'TRIAL'::public."SubscriptionStatus" NOT NULL,
    start_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    trial_ends_at timestamp(3) without time zone,
    current_period_start timestamp(3) without time zone NOT NULL,
    current_period_end timestamp(3) without time zone NOT NULL,
    grace_ends_at timestamp(3) without time zone,
    suspended_at timestamp(3) without time zone,
    cancelled_at timestamp(3) without time zone,
    price_amount numeric(10,2) NOT NULL,
    price_currency text DEFAULT 'PEN'::text NOT NULL,
    billing_cycle text DEFAULT 'MONTHLY'::text NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.subscriptions OWNER TO market_user;

--
-- Name: sunat_jobs; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.sunat_jobs (
    id text NOT NULL,
    store_id text NOT NULL,
    electronic_document_id text NOT NULL,
    type text NOT NULL,
    status text DEFAULT 'QUEUED'::text NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    last_error text,
    next_run_at timestamp(3) without time zone,
    locked_at timestamp(3) without time zone,
    locked_by text,
    completed_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.sunat_jobs OWNER TO market_user;

--
-- Name: sunat_settings; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.sunat_settings (
    id text NOT NULL,
    store_id text NOT NULL,
    env public."SunatEnv" DEFAULT 'BETA'::public."SunatEnv" NOT NULL,
    enabled boolean DEFAULT false NOT NULL,
    ruc text,
    razon_social text,
    address text,
    ubigeo text,
    sol_user text,
    sol_pass text,
    cert_pfx_base64 text,
    cert_password text,
    step_fiscal_data boolean DEFAULT false NOT NULL,
    step_sol_credentials boolean DEFAULT false NOT NULL,
    step_certificate boolean DEFAULT false NOT NULL,
    step_test_sign boolean DEFAULT false NOT NULL,
    step_test_beta boolean DEFAULT false NOT NULL,
    auto_emit_boleta boolean DEFAULT true NOT NULL,
    allow_factura boolean DEFAULT false NOT NULL,
    default_doc_type text DEFAULT 'NONE'::text NOT NULL,
    default_factura_series text DEFAULT 'F001'::text NOT NULL,
    default_boleta_series text DEFAULT 'B001'::text NOT NULL,
    default_nc_series text DEFAULT 'FC01'::text NOT NULL,
    default_nd_series text DEFAULT 'FD01'::text NOT NULL,
    default_summary_series text DEFAULT 'RC01'::text NOT NULL,
    default_voided_series text DEFAULT 'RA01'::text NOT NULL,
    next_factura_number integer DEFAULT 1 NOT NULL,
    next_boleta_number integer DEFAULT 1 NOT NULL,
    next_nc_number integer DEFAULT 1 NOT NULL,
    next_nd_number integer DEFAULT 1 NOT NULL,
    next_summary_number integer DEFAULT 1 NOT NULL,
    next_voided_number integer DEFAULT 1 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.sunat_settings OWNER TO market_user;

--
-- Name: unit_conversions; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.unit_conversions (
    id text NOT NULL,
    store_id text NOT NULL,
    product_master_id text NOT NULL,
    from_unit_id text NOT NULL,
    to_unit_id text NOT NULL,
    factor_to_base numeric(18,6) NOT NULL,
    rounding_mode public."RoundingMode" DEFAULT 'NONE'::public."RoundingMode" NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.unit_conversions OWNER TO market_user;

--
-- Name: units; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.units (
    id text NOT NULL,
    code text NOT NULL,
    sunat_code text,
    name text NOT NULL,
    display_name text,
    symbol text,
    kind public."UnitKind" DEFAULT 'GOODS'::public."UnitKind" NOT NULL,
    allow_decimals boolean DEFAULT false NOT NULL,
    "precision" integer DEFAULT 0 NOT NULL,
    is_base boolean DEFAULT true NOT NULL,
    active boolean DEFAULT true NOT NULL,
    sort_order integer DEFAULT 100 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.units OWNER TO market_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.users (
    id text NOT NULL,
    store_id text NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    password text NOT NULL,
    role public."UserRole" NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO market_user;

--
-- Name: volume_promotions; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.volume_promotions (
    id text NOT NULL,
    store_id text NOT NULL,
    name text NOT NULL,
    product_id text NOT NULL,
    type public."VolumePromoType" NOT NULL,
    required_qty integer NOT NULL,
    "packPrice" numeric(10,2) NOT NULL,
    starts_at timestamp(3) without time zone,
    ends_at timestamp(3) without time zone,
    active boolean DEFAULT true NOT NULL,
    is_demo boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.volume_promotions OWNER TO market_user;

--
-- Name: work_order_items; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.work_order_items (
    id text NOT NULL,
    work_order_id text NOT NULL,
    type public."WorkOrderItemType" NOT NULL,
    store_product_id text,
    service_id text,
    item_name text NOT NULL,
    item_content text,
    unit_id_used text,
    quantity_original numeric(12,4),
    quantity_base numeric(12,4) NOT NULL,
    conversion_factor numeric(12,6),
    unit_price numeric(12,2) NOT NULL,
    subtotal numeric(12,2) NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.work_order_items OWNER TO market_user;

--
-- Name: work_orders; Type: TABLE; Schema: public; Owner: market_user
--

CREATE TABLE public.work_orders (
    id text NOT NULL,
    store_id text NOT NULL,
    order_number integer NOT NULL,
    customer_id text,
    status public."WorkOrderStatus" DEFAULT 'DRAFT'::public."WorkOrderStatus" NOT NULL,
    notes text,
    subtotal numeric(12,2) DEFAULT 0 NOT NULL,
    discount numeric(12,2) DEFAULT 0 NOT NULL,
    total numeric(12,2) DEFAULT 0 NOT NULL,
    sale_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.work_orders OWNER TO market_user;

--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: market_user
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: market_user
--



--
-- Data for Name: category_promotions; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.category_promotions (id, store_id, name, category, type, value, starts_at, ends_at, active, is_demo, max_discount_per_item, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: coupons; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.coupons (id, store_id, code, type, value, min_total, starts_at, ends_at, max_uses, uses_count, active, is_demo, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.customers (id, store_id, name, phone, dni, notes, active, is_demo, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: electronic_documents; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.electronic_documents (id, store_id, sale_id, doc_type, series, number, full_number, issue_date, currency, customer_doc_type, customer_doc_number, customer_name, customer_address, taxable, igv, total, status, hash, qr_text, xml_signed, cdr_zip, sunat_ticket, sunat_code, sunat_message, sunat_response_at, reported_in_summary, reference_doc_id, void_reason, zip_sent_base64, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: feature_flags; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.feature_flags (id, store_id, key, enabled, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: movements; Type: TABLE DATA; Schema: public; Owner: market_user
--



--
-- Data for Name: nth_promotions; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.nth_promotions (id, store_id, name, product_id, type, nth_qty, percent_off, starts_at, ends_at, active, is_demo, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: operational_limits; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.operational_limits (id, store_id, max_discount_percent, max_manual_discount_amount, max_sale_total, max_items_per_sale, max_receivable_balance, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.payments (id, store_id, subscription_id, amount, currency, paid_at, method, reference, status, created_by_id, created_at) FROM stdin;
\.


--
-- Data for Name: products_master; Type: TABLE DATA; Schema: public; Owner: market_user
--



--
-- Data for Name: promotions; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.promotions (id, store_id, type, name, active, product_id, min_qty, pack_price, happy_start, happy_end, happy_price, starts_at, ends_at, is_demo, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: receivable_payments; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.receivable_payments (id, store_id, receivable_id, shift_id, amount, method, notes, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: receivables; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.receivables (id, store_id, customer_id, sale_id, original_amount, balance, status, created_by, is_demo, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sale_items; Type: TABLE DATA; Schema: public; Owner: market_user
--



--
-- Data for Name: sales; Type: TABLE DATA; Schema: public; Owner: market_user
--



--
-- Data for Name: sell_unit_prices; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.sell_unit_prices (id, store_id, product_master_id, sell_unit_id, price, active, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.services (id, store_id, base_unit_id, name, price, taxable, active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: shifts; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.shifts (id, store_id, opened_by, closed_by, opened_at, closed_at, opening_cash, closing_cash, expected_cash, difference, notes, is_demo, created_at, updated_at) FROM stdin;
cmla6sudz00akl65i7r2ibqy6	cmla6qum600005moxhg485id4	cmla6qumf00025moxgu85qbcs	\N	2026-02-06 01:08:44.373	\N	100.00	\N	\N	\N	\N	f	2026-02-06 01:08:44.375	2026-02-06 01:08:44.375
\.


--
-- Data for Name: store_products; Type: TABLE DATA; Schema: public; Owner: market_user
--



--
-- Data for Name: store_settings; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.store_settings (id, store_id, ticket_footer, ticket_header_line1, ticket_header_line2, tax_rate, onboarding_completed_at, onboarding_step, onboarding_dismissed_at, default_payment_method, created_at, updated_at) FROM stdin;
cmla6mtbn0016704z3wcqy8yn	cmla6mt820000704zkq6hnybs	Gracias por su compra\nBodega El Mercado	\N	\N	0.00	\N	0	\N	CASH	2026-02-06 01:04:03.06	2026-02-06 01:04:03.06
cmla6qumo00045mox4lqsy2n5	cmla6qum600005moxhg485id4	\N	\N	\N	18.00	2026-02-06 01:07:11.374	5	\N	CASH	2026-02-06 01:07:11.377	2026-02-06 01:07:11.377
\.


--
-- Data for Name: stores; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.stores (id, name, ruc, address, phone, status, is_demo_store, archived_at, created_at, updated_at, business_profile) FROM stdin;
cmla6mt820000704zkq6hnybs	Bodega El Mercado	20123456789	Av. Los Olivos 123, Lima	987654321	ACTIVE	f	\N	2026-02-06 01:04:02.93	2026-02-06 01:04:02.93	BODEGA
cmla6qum600005moxhg485id4	Ferreter├¡a Central	20987654321	Jr. Los Herreros 456, Lima	912345678	ACTIVE	f	\N	2026-02-06 01:07:11.359	2026-02-06 01:07:11.359	BODEGA
\.


--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.subscriptions (id, store_id, plan_code, status, start_at, trial_ends_at, current_period_start, current_period_end, grace_ends_at, suspended_at, cancelled_at, price_amount, price_currency, billing_cycle, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sunat_jobs; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.sunat_jobs (id, store_id, electronic_document_id, type, status, attempts, last_error, next_run_at, locked_at, locked_by, completed_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sunat_settings; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.sunat_settings (id, store_id, env, enabled, ruc, razon_social, address, ubigeo, sol_user, sol_pass, cert_pfx_base64, cert_password, step_fiscal_data, step_sol_credentials, step_certificate, step_test_sign, step_test_beta, auto_emit_boleta, allow_factura, default_doc_type, default_factura_series, default_boleta_series, default_nc_series, default_nd_series, default_summary_series, default_voided_series, next_factura_number, next_boleta_number, next_nc_number, next_nd_number, next_summary_number, next_voided_number, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: unit_conversions; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.unit_conversions (id, store_id, product_master_id, from_unit_id, to_unit_id, factor_to_base, rounding_mode, active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: market_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: market_user
--



--
-- Data for Name: volume_promotions; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.volume_promotions (id, store_id, name, product_id, type, required_qty, "packPrice", starts_at, ends_at, active, is_demo, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: work_order_items; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.work_order_items (id, work_order_id, type, store_product_id, service_id, item_name, item_content, unit_id_used, quantity_original, quantity_base, conversion_factor, unit_price, subtotal, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: work_orders; Type: TABLE DATA; Schema: public; Owner: market_user
--

COPY public.work_orders (id, store_id, order_number, customer_id, status, notes, subtotal, discount, total, sale_id, created_at, updated_at) FROM stdin;
\.


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: category_promotions category_promotions_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.category_promotions
    ADD CONSTRAINT category_promotions_pkey PRIMARY KEY (id);


--
-- Name: coupons coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: electronic_documents electronic_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.electronic_documents
    ADD CONSTRAINT electronic_documents_pkey PRIMARY KEY (id);


--
-- Name: feature_flags feature_flags_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.feature_flags
    ADD CONSTRAINT feature_flags_pkey PRIMARY KEY (id);


--
-- Name: movements movements_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.movements
    ADD CONSTRAINT movements_pkey PRIMARY KEY (id);


--
-- Name: nth_promotions nth_promotions_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.nth_promotions
    ADD CONSTRAINT nth_promotions_pkey PRIMARY KEY (id);


--
-- Name: operational_limits operational_limits_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.operational_limits
    ADD CONSTRAINT operational_limits_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: products_master products_master_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.products_master
    ADD CONSTRAINT products_master_pkey PRIMARY KEY (id);


--
-- Name: promotions promotions_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_pkey PRIMARY KEY (id);


--
-- Name: receivable_payments receivable_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.receivable_payments
    ADD CONSTRAINT receivable_payments_pkey PRIMARY KEY (id);


--
-- Name: receivables receivables_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.receivables
    ADD CONSTRAINT receivables_pkey PRIMARY KEY (id);


--
-- Name: sale_items sale_items_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_pkey PRIMARY KEY (id);


--
-- Name: sales sales_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_pkey PRIMARY KEY (id);


--
-- Name: sell_unit_prices sell_unit_prices_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sell_unit_prices
    ADD CONSTRAINT sell_unit_prices_pkey PRIMARY KEY (id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: shifts shifts_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_pkey PRIMARY KEY (id);


--
-- Name: store_products store_products_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.store_products
    ADD CONSTRAINT store_products_pkey PRIMARY KEY (id);


--
-- Name: store_settings store_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.store_settings
    ADD CONSTRAINT store_settings_pkey PRIMARY KEY (id);


--
-- Name: stores stores_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: sunat_jobs sunat_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sunat_jobs
    ADD CONSTRAINT sunat_jobs_pkey PRIMARY KEY (id);


--
-- Name: sunat_settings sunat_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sunat_settings
    ADD CONSTRAINT sunat_settings_pkey PRIMARY KEY (id);


--
-- Name: unit_conversions unit_conversions_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.unit_conversions
    ADD CONSTRAINT unit_conversions_pkey PRIMARY KEY (id);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: volume_promotions volume_promotions_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.volume_promotions
    ADD CONSTRAINT volume_promotions_pkey PRIMARY KEY (id);


--
-- Name: work_order_items work_order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.work_order_items
    ADD CONSTRAINT work_order_items_pkey PRIMARY KEY (id);


--
-- Name: work_orders work_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT work_orders_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_action_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX audit_logs_action_idx ON public.audit_logs USING btree (action);


--
-- Name: audit_logs_entity_type_entity_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX audit_logs_entity_type_entity_id_idx ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: audit_logs_severity_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX audit_logs_severity_idx ON public.audit_logs USING btree (severity);


--
-- Name: audit_logs_store_id_created_at_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX audit_logs_store_id_created_at_idx ON public.audit_logs USING btree (store_id, created_at);


--
-- Name: audit_logs_user_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX audit_logs_user_id_idx ON public.audit_logs USING btree (user_id);


--
-- Name: categories_parent_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX categories_parent_id_idx ON public.categories USING btree (parent_id);


--
-- Name: categories_store_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX categories_store_id_idx ON public.categories USING btree (store_id);


--
-- Name: categories_store_id_slug_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX categories_store_id_slug_key ON public.categories USING btree (store_id, slug);


--
-- Name: category_promotions_store_id_active_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX category_promotions_store_id_active_idx ON public.category_promotions USING btree (store_id, active);


--
-- Name: category_promotions_store_id_category_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX category_promotions_store_id_category_idx ON public.category_promotions USING btree (store_id, category);


--
-- Name: coupons_store_id_active_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX coupons_store_id_active_idx ON public.coupons USING btree (store_id, active);


--
-- Name: coupons_store_id_code_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX coupons_store_id_code_key ON public.coupons USING btree (store_id, code);


--
-- Name: customers_store_id_name_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX customers_store_id_name_idx ON public.customers USING btree (store_id, name);


--
-- Name: electronic_documents_doc_type_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX electronic_documents_doc_type_idx ON public.electronic_documents USING btree (doc_type);


--
-- Name: electronic_documents_full_number_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX electronic_documents_full_number_idx ON public.electronic_documents USING btree (full_number);


--
-- Name: electronic_documents_sale_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX electronic_documents_sale_id_idx ON public.electronic_documents USING btree (sale_id);


--
-- Name: electronic_documents_store_id_doc_type_issue_date_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX electronic_documents_store_id_doc_type_issue_date_idx ON public.electronic_documents USING btree (store_id, doc_type, issue_date);


--
-- Name: electronic_documents_store_id_doc_type_series_number_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX electronic_documents_store_id_doc_type_series_number_key ON public.electronic_documents USING btree (store_id, doc_type, series, number);


--
-- Name: electronic_documents_store_id_issue_date_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX electronic_documents_store_id_issue_date_idx ON public.electronic_documents USING btree (store_id, issue_date);


--
-- Name: electronic_documents_store_id_reported_in_summary_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX electronic_documents_store_id_reported_in_summary_idx ON public.electronic_documents USING btree (store_id, reported_in_summary);


--
-- Name: electronic_documents_store_id_status_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX electronic_documents_store_id_status_idx ON public.electronic_documents USING btree (store_id, status);


--
-- Name: feature_flags_store_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX feature_flags_store_id_idx ON public.feature_flags USING btree (store_id);


--
-- Name: feature_flags_store_id_key_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX feature_flags_store_id_key_key ON public.feature_flags USING btree (store_id, key);


--
-- Name: movements_store_id_created_at_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX movements_store_id_created_at_idx ON public.movements USING btree (store_id, created_at);


--
-- Name: movements_store_product_id_created_at_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX movements_store_product_id_created_at_idx ON public.movements USING btree (store_product_id, created_at);


--
-- Name: nth_promotions_store_id_active_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX nth_promotions_store_id_active_idx ON public.nth_promotions USING btree (store_id, active);


--
-- Name: nth_promotions_store_id_product_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX nth_promotions_store_id_product_id_idx ON public.nth_promotions USING btree (store_id, product_id);


--
-- Name: operational_limits_store_id_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX operational_limits_store_id_key ON public.operational_limits USING btree (store_id);


--
-- Name: payments_store_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX payments_store_id_idx ON public.payments USING btree (store_id);


--
-- Name: payments_subscription_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX payments_subscription_id_idx ON public.payments USING btree (subscription_id);


--
-- Name: products_master_barcode_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX products_master_barcode_idx ON public.products_master USING btree (barcode);


--
-- Name: products_master_barcode_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX products_master_barcode_key ON public.products_master USING btree (barcode);


--
-- Name: products_master_created_by_store_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX products_master_created_by_store_id_idx ON public.products_master USING btree (created_by_store_id);


--
-- Name: products_master_fingerprint_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX products_master_fingerprint_idx ON public.products_master USING btree (fingerprint);


--
-- Name: products_master_internal_sku_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX products_master_internal_sku_idx ON public.products_master USING btree (internal_sku);


--
-- Name: products_master_internal_sku_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX products_master_internal_sku_key ON public.products_master USING btree (internal_sku);


--
-- Name: products_master_is_global_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX products_master_is_global_idx ON public.products_master USING btree (is_global);


--
-- Name: products_master_name_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX products_master_name_idx ON public.products_master USING btree (name);


--
-- Name: products_master_normalized_name_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX products_master_normalized_name_idx ON public.products_master USING btree (normalized_name);


--
-- Name: promotions_product_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX promotions_product_id_idx ON public.promotions USING btree (product_id);


--
-- Name: promotions_store_id_active_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX promotions_store_id_active_idx ON public.promotions USING btree (store_id, active);


--
-- Name: receivable_payments_receivable_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX receivable_payments_receivable_id_idx ON public.receivable_payments USING btree (receivable_id);


--
-- Name: receivable_payments_shift_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX receivable_payments_shift_id_idx ON public.receivable_payments USING btree (shift_id);


--
-- Name: receivable_payments_store_id_created_at_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX receivable_payments_store_id_created_at_idx ON public.receivable_payments USING btree (store_id, created_at);


--
-- Name: receivables_customer_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX receivables_customer_id_idx ON public.receivables USING btree (customer_id);


--
-- Name: receivables_sale_id_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX receivables_sale_id_key ON public.receivables USING btree (sale_id);


--
-- Name: receivables_store_id_status_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX receivables_store_id_status_idx ON public.receivables USING btree (store_id, status);


--
-- Name: sale_items_sale_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX sale_items_sale_id_idx ON public.sale_items USING btree (sale_id);


--
-- Name: sale_items_service_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX sale_items_service_id_idx ON public.sale_items USING btree (service_id);


--
-- Name: sale_items_store_product_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX sale_items_store_product_id_idx ON public.sale_items USING btree (store_product_id);


--
-- Name: sales_customer_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX sales_customer_id_idx ON public.sales USING btree (customer_id);


--
-- Name: sales_store_id_created_at_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX sales_store_id_created_at_idx ON public.sales USING btree (store_id, created_at);


--
-- Name: sales_store_id_sale_number_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX sales_store_id_sale_number_key ON public.sales USING btree (store_id, sale_number);


--
-- Name: sell_unit_prices_product_master_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX sell_unit_prices_product_master_id_idx ON public.sell_unit_prices USING btree (product_master_id);


--
-- Name: sell_unit_prices_store_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX sell_unit_prices_store_id_idx ON public.sell_unit_prices USING btree (store_id);


--
-- Name: sell_unit_prices_store_id_product_master_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX sell_unit_prices_store_id_product_master_id_idx ON public.sell_unit_prices USING btree (store_id, product_master_id);


--
-- Name: sell_unit_prices_store_id_product_master_id_sell_unit_id_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX sell_unit_prices_store_id_product_master_id_sell_unit_id_key ON public.sell_unit_prices USING btree (store_id, product_master_id, sell_unit_id);


--
-- Name: services_name_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX services_name_idx ON public.services USING btree (name);


--
-- Name: services_store_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX services_store_id_idx ON public.services USING btree (store_id);


--
-- Name: services_store_id_name_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX services_store_id_name_key ON public.services USING btree (store_id, name);


--
-- Name: shifts_store_id_opened_at_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX shifts_store_id_opened_at_idx ON public.shifts USING btree (store_id, opened_at);


--
-- Name: store_products_product_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX store_products_product_id_idx ON public.store_products USING btree (product_id);


--
-- Name: store_products_store_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX store_products_store_id_idx ON public.store_products USING btree (store_id);


--
-- Name: store_products_store_id_product_id_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX store_products_store_id_product_id_key ON public.store_products USING btree (store_id, product_id);


--
-- Name: store_settings_store_id_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX store_settings_store_id_key ON public.store_settings USING btree (store_id);


--
-- Name: subscriptions_status_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX subscriptions_status_idx ON public.subscriptions USING btree (status);


--
-- Name: subscriptions_store_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX subscriptions_store_id_idx ON public.subscriptions USING btree (store_id);


--
-- Name: subscriptions_store_id_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX subscriptions_store_id_key ON public.subscriptions USING btree (store_id);


--
-- Name: sunat_jobs_electronic_document_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX sunat_jobs_electronic_document_id_idx ON public.sunat_jobs USING btree (electronic_document_id);


--
-- Name: sunat_jobs_status_next_run_at_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX sunat_jobs_status_next_run_at_idx ON public.sunat_jobs USING btree (status, next_run_at);


--
-- Name: sunat_settings_store_id_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX sunat_settings_store_id_key ON public.sunat_settings USING btree (store_id);


--
-- Name: unit_conversions_from_unit_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX unit_conversions_from_unit_id_idx ON public.unit_conversions USING btree (from_unit_id);


--
-- Name: unit_conversions_product_master_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX unit_conversions_product_master_id_idx ON public.unit_conversions USING btree (product_master_id);


--
-- Name: unit_conversions_store_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX unit_conversions_store_id_idx ON public.unit_conversions USING btree (store_id);


--
-- Name: unit_conversions_store_id_product_master_id_from_unit_id_to_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX unit_conversions_store_id_product_master_id_from_unit_id_to_key ON public.unit_conversions USING btree (store_id, product_master_id, from_unit_id, to_unit_id);


--
-- Name: unit_conversions_store_id_product_master_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX unit_conversions_store_id_product_master_id_idx ON public.unit_conversions USING btree (store_id, product_master_id);


--
-- Name: unit_conversions_to_unit_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX unit_conversions_to_unit_id_idx ON public.unit_conversions USING btree (to_unit_id);


--
-- Name: units_active_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX units_active_idx ON public.units USING btree (active);


--
-- Name: units_code_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX units_code_idx ON public.units USING btree (code);


--
-- Name: units_code_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX units_code_key ON public.units USING btree (code);


--
-- Name: units_kind_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX units_kind_idx ON public.units USING btree (kind);


--
-- Name: units_sunat_code_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX units_sunat_code_idx ON public.units USING btree (sunat_code);


--
-- Name: units_sunat_code_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX units_sunat_code_key ON public.units USING btree (sunat_code);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_store_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX users_store_id_idx ON public.users USING btree (store_id);


--
-- Name: volume_promotions_store_id_active_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX volume_promotions_store_id_active_idx ON public.volume_promotions USING btree (store_id, active);


--
-- Name: volume_promotions_store_id_product_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX volume_promotions_store_id_product_id_idx ON public.volume_promotions USING btree (store_id, product_id);


--
-- Name: work_order_items_service_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX work_order_items_service_id_idx ON public.work_order_items USING btree (service_id);


--
-- Name: work_order_items_store_product_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX work_order_items_store_product_id_idx ON public.work_order_items USING btree (store_product_id);


--
-- Name: work_order_items_work_order_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX work_order_items_work_order_id_idx ON public.work_order_items USING btree (work_order_id);


--
-- Name: work_orders_customer_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX work_orders_customer_id_idx ON public.work_orders USING btree (customer_id);


--
-- Name: work_orders_sale_id_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX work_orders_sale_id_key ON public.work_orders USING btree (sale_id);


--
-- Name: work_orders_status_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX work_orders_status_idx ON public.work_orders USING btree (status);


--
-- Name: work_orders_store_id_idx; Type: INDEX; Schema: public; Owner: market_user
--

CREATE INDEX work_orders_store_id_idx ON public.work_orders USING btree (store_id);


--
-- Name: work_orders_store_id_order_number_key; Type: INDEX; Schema: public; Owner: market_user
--

CREATE UNIQUE INDEX work_orders_store_id_order_number_key ON public.work_orders USING btree (store_id, order_number);


--
-- Name: audit_logs audit_logs_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: categories categories_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: categories categories_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: category_promotions category_promotions_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.category_promotions
    ADD CONSTRAINT category_promotions_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: coupons coupons_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customers customers_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: electronic_documents electronic_documents_reference_doc_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.electronic_documents
    ADD CONSTRAINT electronic_documents_reference_doc_id_fkey FOREIGN KEY (reference_doc_id) REFERENCES public.electronic_documents(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: electronic_documents electronic_documents_sale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.electronic_documents
    ADD CONSTRAINT electronic_documents_sale_id_fkey FOREIGN KEY (sale_id) REFERENCES public.sales(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: electronic_documents electronic_documents_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.electronic_documents
    ADD CONSTRAINT electronic_documents_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: electronic_documents electronic_documents_sunat_settings_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.electronic_documents
    ADD CONSTRAINT electronic_documents_sunat_settings_fkey FOREIGN KEY (store_id) REFERENCES public.sunat_settings(store_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: feature_flags feature_flags_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.feature_flags
    ADD CONSTRAINT feature_flags_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: movements movements_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.movements
    ADD CONSTRAINT movements_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: movements movements_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.movements
    ADD CONSTRAINT movements_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: movements movements_store_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.movements
    ADD CONSTRAINT movements_store_product_id_fkey FOREIGN KEY (store_product_id) REFERENCES public.store_products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: nth_promotions nth_promotions_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.nth_promotions
    ADD CONSTRAINT nth_promotions_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products_master(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: nth_promotions nth_promotions_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.nth_promotions
    ADD CONSTRAINT nth_promotions_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: operational_limits operational_limits_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.operational_limits
    ADD CONSTRAINT operational_limits_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payments payments_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payments payments_subscription_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_subscription_id_fkey FOREIGN KEY (subscription_id) REFERENCES public.subscriptions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products_master products_master_approved_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.products_master
    ADD CONSTRAINT products_master_approved_by_id_fkey FOREIGN KEY (approved_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: products_master products_master_base_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.products_master
    ADD CONSTRAINT products_master_base_unit_id_fkey FOREIGN KEY (base_unit_id) REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: products_master products_master_created_by_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.products_master
    ADD CONSTRAINT products_master_created_by_store_id_fkey FOREIGN KEY (created_by_store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: promotions promotions_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products_master(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: promotions promotions_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.promotions
    ADD CONSTRAINT promotions_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: receivable_payments receivable_payments_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.receivable_payments
    ADD CONSTRAINT receivable_payments_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: receivable_payments receivable_payments_receivable_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.receivable_payments
    ADD CONSTRAINT receivable_payments_receivable_id_fkey FOREIGN KEY (receivable_id) REFERENCES public.receivables(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: receivable_payments receivable_payments_shift_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.receivable_payments
    ADD CONSTRAINT receivable_payments_shift_id_fkey FOREIGN KEY (shift_id) REFERENCES public.shifts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: receivables receivables_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.receivables
    ADD CONSTRAINT receivables_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: receivables receivables_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.receivables
    ADD CONSTRAINT receivables_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: receivables receivables_sale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.receivables
    ADD CONSTRAINT receivables_sale_id_fkey FOREIGN KEY (sale_id) REFERENCES public.sales(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: receivables receivables_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.receivables
    ADD CONSTRAINT receivables_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sale_items sale_items_sale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_sale_id_fkey FOREIGN KEY (sale_id) REFERENCES public.sales(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sale_items sale_items_service_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_service_id_fkey FOREIGN KEY (service_id) REFERENCES public.services(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sale_items sale_items_store_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_store_product_id_fkey FOREIGN KEY (store_product_id) REFERENCES public.store_products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sales sales_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sales sales_shift_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_shift_id_fkey FOREIGN KEY (shift_id) REFERENCES public.shifts(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sales sales_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sales sales_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sell_unit_prices sell_unit_prices_product_master_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sell_unit_prices
    ADD CONSTRAINT sell_unit_prices_product_master_id_fkey FOREIGN KEY (product_master_id) REFERENCES public.products_master(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sell_unit_prices sell_unit_prices_sell_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sell_unit_prices
    ADD CONSTRAINT sell_unit_prices_sell_unit_id_fkey FOREIGN KEY (sell_unit_id) REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sell_unit_prices sell_unit_prices_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sell_unit_prices
    ADD CONSTRAINT sell_unit_prices_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: services services_base_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_base_unit_id_fkey FOREIGN KEY (base_unit_id) REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: services services_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: shifts shifts_closed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_closed_by_fkey FOREIGN KEY (closed_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: shifts shifts_opened_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_opened_by_fkey FOREIGN KEY (opened_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: shifts shifts_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: store_products store_products_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.store_products
    ADD CONSTRAINT store_products_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products_master(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: store_products store_products_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.store_products
    ADD CONSTRAINT store_products_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: store_settings store_settings_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.store_settings
    ADD CONSTRAINT store_settings_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sunat_jobs sunat_jobs_electronic_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sunat_jobs
    ADD CONSTRAINT sunat_jobs_electronic_document_id_fkey FOREIGN KEY (electronic_document_id) REFERENCES public.electronic_documents(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sunat_settings sunat_settings_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.sunat_settings
    ADD CONSTRAINT sunat_settings_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: unit_conversions unit_conversions_from_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.unit_conversions
    ADD CONSTRAINT unit_conversions_from_unit_id_fkey FOREIGN KEY (from_unit_id) REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: unit_conversions unit_conversions_product_master_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.unit_conversions
    ADD CONSTRAINT unit_conversions_product_master_id_fkey FOREIGN KEY (product_master_id) REFERENCES public.products_master(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: unit_conversions unit_conversions_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.unit_conversions
    ADD CONSTRAINT unit_conversions_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: unit_conversions unit_conversions_to_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.unit_conversions
    ADD CONSTRAINT unit_conversions_to_unit_id_fkey FOREIGN KEY (to_unit_id) REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: volume_promotions volume_promotions_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.volume_promotions
    ADD CONSTRAINT volume_promotions_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products_master(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: volume_promotions volume_promotions_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.volume_promotions
    ADD CONSTRAINT volume_promotions_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: work_order_items work_order_items_service_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.work_order_items
    ADD CONSTRAINT work_order_items_service_id_fkey FOREIGN KEY (service_id) REFERENCES public.services(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: work_order_items work_order_items_store_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.work_order_items
    ADD CONSTRAINT work_order_items_store_product_id_fkey FOREIGN KEY (store_product_id) REFERENCES public.store_products(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: work_order_items work_order_items_unit_id_used_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.work_order_items
    ADD CONSTRAINT work_order_items_unit_id_used_fkey FOREIGN KEY (unit_id_used) REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: work_order_items work_order_items_work_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.work_order_items
    ADD CONSTRAINT work_order_items_work_order_id_fkey FOREIGN KEY (work_order_id) REFERENCES public.work_orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: work_orders work_orders_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT work_orders_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: work_orders work_orders_sale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT work_orders_sale_id_fkey FOREIGN KEY (sale_id) REFERENCES public.sales(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: work_orders work_orders_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: market_user
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT work_orders_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: market_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict ew4naeDlc7dYIZk62cwkHr2wRCvpxJT1LQxBIbwcWXzFdHU7pcXuLWNH2sdvnva

